@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    background-color: #181818;
    margin:0;
    font-family: 'Inter', sans-serif;
    color:white;
    background-size: cover;
}

#background {
    position:absolute;
    width: 100vw;
    height: 100svh;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100svh;
    padding:5px;
    box-sizing: border-box;
    text-align: center;
}

#img {
    height:120px;
    animation: fadeIn 2s;
    border-radius:10px;
    opacity:100;
}

#applink {
    animation: fadeIn 1s forwards;
    animation-delay: 0.3s;
    opacity: 0;
    padding-top:25px;
    font-size: 50px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

#me_desc {
    padding-top:10px;
    font-size: 25px;
    padding-bottom:25px;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.delayA {
    animation: fadeIn 1s forwards;
    animation-delay: 0.7s;
    opacity: 0;
}

.delayB {
    animation: fadeIn 1s forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
